body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 90px;
    background: #ff7675;
}
header h1{
    color: #fdcb6e;
    text-transform: uppercase;
    padding-top:30px;
    margin: 0;
    float: left;
}
nav{
    float: right;
}
nav ul{
    list-style-type: none;
}
nav li {
    display: inline-block;
    padding: 30px 0 0 10px;
    margin: 0;
}

nav li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover{
    color: #fdcb6e;
}
.lightgreen{
    color: #55efc4;
    letter-spacing: 3px;
}
.yellow{
    color: #fdcb6e;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.orange{
    color:#ff7675;
}

.container{
    width: 96%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 2%;
}
.productlist{
    width: 100%;
    background: #55efc4;
    border-radius: 5px;
}
.updateform{
    width: 100%;
    background: #55efc4;
    border-radius: 5px;
    padding: 20px 0 6px 20px;
}
.welcometext{
    margin: 50px 0;
    font-size: 2.4em;
}
.productlist li{
    list-style-type: none;
    padding: 15px 0 15px 15px;
    color: #636e72;
}

.productlist-title {
    font-size: 2em;
    color: #81ecec;
}

.productlist li:hover{
    background: #ffeaa7;
}

.btn-delete{
    color: #fff;
    background: #ff7675;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.8em;
    float: right;
    margin-right:20px;
    letter-spacing: 1px;
}
.btn-delete:hover{
    color:white;
    background: #e17055;
}

.btn-update{
    color: #fff;
    background: #74b9ff;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.8em;
    float: right;
    margin-right:20px;
    letter-spacing: 1px;
    border: none;
}
.btn-update:hover{
    color:white;
    background: #0984e3;
}
.btn-change{
    color: #fff;
    background: #fd79a8;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.8em;
    float: right;
    margin-right:20px;
    letter-spacing: 1px;
    border: none;
}
.btn-change:hover{
    color:white;
    background: #6c5ce7;
}
.filterbox{
    margin-top:20px;
    width: 100%;
    background: #55efc4;
    border-radius: 5px;
}
.filterbox li{
    list-style-type: none;
    padding: 15px 0 15px 15px;
    display: inline-block;
}
.btn-search{
    color: #55efc4;
    background: #fff;
    padding: 7px;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 900;
    border: none;
}
.btn-search:hover{
    color:white;
    background: #559fef;
}
input{
    height: 30px;
    width: 250px;
    border:none;
    border-radius: 5px;
    padding-left: 10px;
}
input::placeholder{
    padding-left:10px;
    color: #55efc4;
    font-weight: 900;
}

.orderlist{
    margin-top:20px;
    width: 100%;
    background: #55efc4;
    border-radius: 5px;
}
.orderlist li{
    list-style-type: none;
    padding: 15px 0 15px 15px;
    display: block;
    color: #636e72;
    letter-spacing: 1px;
}
.orderlist li:hover{
    background: #ffeaa7;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}